/DBManager/nbproject/private/
/CustomerLibrary/nbproject/private/
/CustomerLibrary/build/
/CustomerLibrary/dist/
/DBManager/Derbyclient/build/
/DBManager/Eclipselink/build/
/DBManager/build/
/DBManager/CustomerLibrary/build/
/DBManager/CustomerViewer/build/